/* Top Level Menu */
#drop ul {
	margin: 0 auto;
	padding:8px 0px 8px 0px;
	float:left;
	text-align:center;
	width:100px;
	cursor:pointer;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );
}

#drop ul li {
	display: block;
	float: left;
	margin: 0px 0 0;
	width:100px;
}

#drop ul li a {
	width:140px;
}

/* Sub Level Nav */
#drop ul li ul {
	background: #F4F4F4;
	border: 1px solid #000;
	border-radius: 12px;
	box-shadow: 0px 0px 3px #666666;
	margin: 14px 0 0 0px;
	padding: 0 20px 0;
	position: relative;
	top: 0px;
	left: -40px;
	width:140px;
	margin-bottom:-170px;
	
}

#drop ul li ul li {
	border-bottom: 1px solid #CCC;
	display: block;
	float: none;
	padding: 8px 2px;
	text-align: center;
	margin: 0;
	width:140px;
}

#drop ul li ul li a {
	color: #C40005;
	text-shadow: none;
}

#drop ul li ul li a:hover {
	color: #000;
}

#drop ul li ul li:last-child:not(li.arrow) {
	border: 0;
}

/* Arrow */
.arrow {
	background:url(../images/arrow.png) no-repeat;
	display: none;
	position: absolute;
		top: -10px;
		left: 83px;
	height: 2px;
	width: 10px;
	text-indent: -9999px;
}