@font-face{
	font-family: "Field Login";
	src:url(../../../font/BOD12OW.TTF);
}
@font-face{
	font-family: "Pengunjung Font";
	src:url(../../../font/PRISTINA.TTF);
}
body{
	margin:0;
}
.message, .message-2, .message-3
{
		-webkit-background-size: 40px 40px;
		-moz-background-size: 40px 40px;
		background-size: 40px 40px;			
		background-image: -webkit-gradient(linear, left top, right bottom,
								color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
								color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
								color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
								to(transparent));
		background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
								
		 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);		
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 width: 100%;
		 border: 1px solid;
		 color: #fff;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 -webkit-animation: animate-bg 5s linear infinite;
		 -moz-animation: animate-bg 5s linear infinite;
}
.message{
		 padding: 7px;
		 position: fixed;
		 box-shadow:0px 0px 10px #333333;
		 font-family: "Pengunjung Font";
}
.message-2{
	width:200px;
	border-radius:3px 50px 0px 10px;
	padding:5px 0px 5px 10px;
	font-family:Tahoma, Geneva, sans-serif;
	box-shadow:0px 4px 4px #999;
}
.message-3{
	margin-top:1px;
	width:150px;
	border-radius:10px 0px 20px 3px;
	padding:3px 0px 4px 20px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	box-shadow:0px 4px 4px #999;
}
.info
{
		 background-color: #4ea5cd;
		 border-color: #3b8eb5;
}

.error
{
		 font-family: "Pengunjung Font";
		 background-color: #de4343;
		 border-color: #c43d3d;
}
.error-2{
	background-color:#DB5555;
	border-color:#BF5B5B;
}
		
.warning
{
		 background-color: #eaaf51;
		 border-color: #d99a36;
}

.success
{
		 background-color: #61b832;
		 border-color: #55a12c;
}

.message h3
{
		 margin: 0 0 5px 0;													 
}

.message p
{
		 margin: 0;
		 text-align:center;
		font-family:AriaScriptSSK;
		font-size:24px;											 
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


#trigger-list
{
		 text-align: center;
		 margin: 0 0;
		 padding: 0;
}

#trigger-list li
{
		 display: inline-block;
		 *display: inline;
		 zoom: 1;
}

#trigger-list .trigger
{
		 display: inline-block;
		 background: #ddd;
		 border: 1px solid #777;
		 padding: 10px 20px;
		 margin: 0 5px;
		 font: bold 12px Arial, Helvetica;
		 text-decoration: none;
		 color: #333;
		 -moz-border-radius: 3px;
		 -webkit-border-radius: 3px;
		 border-radius: 3px;
}

#tombol{
	cursor:pointer;
	border:1px solid #00C;
	padding:6px 7px 6px 7px;
	border-radius:3px 3px 3px 3px;
	color:white;
	font-family:"Field Login";
	font-size:16px;
	text-decoration:none;
	background: #356bff;
	background: -moz-linear-gradient(top,  #356bff 0%, #7ca3ff 2%, #6b95ff 3%, #3a72ff 4%, #0048ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356bff), color-stop(2%,#7ca3ff), color-stop(3%,#6b95ff), color-stop(4%,#3a72ff), color-stop(100%,#0048ff));
	background: -webkit-linear-gradient(top,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#3a72ff 4%,#0048ff 100%);
	background: -o-linear-gradient(top,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#3a72ff 4%,#0048ff 100%);
	background: -ms-linear-gradient(top,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#3a72ff 4%,#0048ff 100%);
	background: linear-gradient(to bottom,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#3a72ff 4%,#0048ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356bff', endColorstr='#0048ff',GradientType=0 );
}
#tombol:hover, #tombol-active{
	cursor:pointer;
	border:1px solid #06C;
	padding:6px 7px 6px 7px;
	border-radius:3px 3px 3px 3px;
	color:white;
	font-family:"Field Login";
	font-size:16px;
	text-decoration:none;
	background: #356bff;
background: -moz-linear-gradient(top,  #356bff 0%, #7ca3ff 2%, #6b95ff 3%, #6b97ff 4%, #0f57ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356bff), color-stop(2%,#7ca3ff), color-stop(3%,#6b95ff), color-stop(4%,#6b97ff), color-stop(100%,#0f57ff));
background: -webkit-linear-gradient(top,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#6b97ff 4%,#0f57ff 100%);
background: -o-linear-gradient(top,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#6b97ff 4%,#0f57ff 100%);
background: -ms-linear-gradient(top,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#6b97ff 4%,#0f57ff 100%);
background: linear-gradient(to bottom,  #356bff 0%,#7ca3ff 2%,#6b95ff 3%,#6b97ff 4%,#0f57ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356bff', endColorstr='#0f57ff',GradientType=0 );
}
#cr{
	text-align:center;
	font-size:12px;
	font-family:"Pengunjung Font";
	color:#2C2C2C;
	text-decoration:none;
}
#cr:hover{
	color:#3F3;
}
#manipulasi{
	text-decoration:none;
	color:#5C5C5C;
	font-size:8px;
}
#judul-tabel{
	background: #8caeff;
background: -moz-linear-gradient(top,  #8caeff 0%, #5b8aff 57%, #356bff 97%, #6090ff 98%, #356bff 99%, #356bff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8caeff), color-stop(57%,#5b8aff), color-stop(97%,#356bff), color-stop(98%,#6090ff), color-stop(99%,#356bff), color-stop(100%,#356bff));
background: -webkit-linear-gradient(top,  #8caeff 0%,#5b8aff 57%,#356bff 97%,#6090ff 98%,#356bff 99%,#356bff 100%);
background: -o-linear-gradient(top,  #8caeff 0%,#5b8aff 57%,#356bff 97%,#6090ff 98%,#356bff 99%,#356bff 100%);
background: -ms-linear-gradient(top,  #8caeff 0%,#5b8aff 57%,#356bff 97%,#6090ff 98%,#356bff 99%,#356bff 100%);
background: linear-gradient(to bottom,  #8caeff 0%,#5b8aff 57%,#356bff 97%,#6090ff 98%,#356bff 99%,#356bff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8caeff', endColorstr='#356bff',GradientType=0 );
}
.ganjil { 
    background-color: #DDEEFF; /* baris ganjil berwarna hijau muda */ 
}
.genap { 
    background-color: #EAF5FF; /* baris genap berwarna hijau tua */ 
}
.genap:hover, .ganjil:hover{
	background-color:#FFDBDB;
}
.tr{
	padding-left:20px;
}
table{
	box-shadow:0px 0px 6px #666666;
}
select{
	border:1px solid #D3D3D3;
	padding:5px 7px 5px 7px;
	background-color:#F7F7F7;
	width:200px;
	border-radius:3px 3px 3px 3px;
}