@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: "Admin";
	src:url(../font/Comfortaa-Bold.ttf);
}

@font-face{
	font-family: "body";
	src:url(../font/PT%20SANS%20NARROW.ttf);
}

body{
	margin:0px;
	font-size:14px;
	color:#333333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image:url(../images/background_pattern.png);
}
.header{
	height:50px;
	border-bottom:2px solid #333333;
	color:white;
	float:left;
	width:83.9%;
	box-shadow:1px 2px 3px #666666;
	
background: #57d6d6;
background: -moz-linear-gradient(top,  #57d6d6 0%, #2da7b7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57d6d6), color-stop(100%,#2da7b7));
background: -webkit-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -o-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: -ms-linear-gradient(top,  #57d6d6 0%,#2da7b7 100%);
background: linear-gradient(to bottom,  #57d6d6 0%,#2da7b7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57d6d6', endColorstr='#2da7b7',GradientType=0 );

/*background: #5ab7de;
background: -moz-linear-gradient(top,  #5ab7de 0%, #21759b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ab7de), color-stop(100%,#21759b));
background: -webkit-linear-gradient(top,  #5ab7de 0%,#21759b 100%);
background: -o-linear-gradient(top,  #5ab7de 0%,#21759b 100%);
background: -ms-linear-gradient(top,  #5ab7de 0%,#21759b 100%);
background: linear-gradient(to bottom,  #5ab7de 0%,#21759b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7de', endColorstr='#21759b',GradientType=0 );*/

/*	background: #2790d1;
background: -moz-linear-gradient(top,  #2790d1 0%, #004483 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2790d1), color-stop(100%,#004483));
background: -webkit-linear-gradient(top,  #2790d1 0%,#004483 100%);
background: -o-linear-gradient(top,  #2790d1 0%,#004483 100%);
background: -ms-linear-gradient(top,  #2790d1 0%,#004483 100%);
background: linear-gradient(to bottom,  #2790d1 0%,#004483 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2790d1', endColorstr='#004483',GradientType=0 );*/

}
.web{
	width:120px;
	color:white;
	padding:8px 14px 8px 14px;
	float:left;
	border-bottom:2px solid white;
	border-right:2px solid white;
	border-radius:0 40px 100px 0;
	letter-spacing:2px;
	box-shadow:3px 2px 3px #666666;
	
	
background: #3fa2d7;
background: -moz-linear-gradient(top,  #3fa2d7 0%, #1f72ab 73%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fa2d7), color-stop(73%,#1f72ab));
background: -webkit-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -o-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -ms-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: linear-gradient(to bottom,  #3fa2d7 0%,#1f72ab 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa2d7', endColorstr='#1f72ab',GradientType=0 );

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}
.web:hover{
	color:white;
	
	background: #70fc5a;
	background: -moz-linear-gradient(top,  #70fc5a 0%, #70fc5a 1%, #ceffc6 2%, #70fc5a 3%, #48c948 89%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70fc5a), color-stop(1%,#70fc5a), color-stop(2%,#ceffc6), color-stop(3%,#70fc5a), color-stop(89%,#48c948));
	background: -webkit-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: -o-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: -ms-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: linear-gradient(to bottom,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70fc5a', endColorstr='#48c948',GradientType=0 );
}
.web:active{
	box-shadow:inset 0px 0px 4px black;
}
.top-menu{
	margin-right:6px;
	margin-top:8px;
	padding:5px 20px 5px 20px;
	text-align:center;
	float:right;
	color:white;
	border:2px solid #EBEBEB;
	border-radius:30px;
	cursor:pointer;
	box-shadow:0 2px 3px #666666;
	
background: #3fa2d7;
background: -moz-linear-gradient(top,  #3fa2d7 0%, #1f72ab 73%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fa2d7), color-stop(73%,#1f72ab));
background: -webkit-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -o-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -ms-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: linear-gradient(to bottom,  #3fa2d7 0%,#1f72ab 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa2d7', endColorstr='#1f72ab',GradientType=0 );
	


-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}

.top-menu:hover{
	color:#FFDFDF;
}
#logout{
	color:white;
	padding:5px 12px 5px 12px;
	box-shadow:0 2px 3px #666666;
	border:2px solid #666;
	width:100px;
	border-radius:30px;
	float:right;
	text-align:center;
	margin-right:20px;
	margin-top:8px;
	font-weight:600;
	
background: #e86177;
background: -moz-linear-gradient(top,  #e86177 0%, #bc272a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e86177), color-stop(100%,#bc272a));
background: -webkit-linear-gradient(top,  #e86177 0%,#bc272a 100%);
background: -o-linear-gradient(top,  #e86177 0%,#bc272a 100%);
background: -ms-linear-gradient(top,  #e86177 0%,#bc272a 100%);
background: linear-gradient(to bottom,  #e86177 0%,#bc272a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86177', endColorstr='#bc272a',GradientType=0 );

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}
#logout:hover{
	background: #f98e99;
background: -moz-linear-gradient(top,  #f98e99 0%, #e23b40 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f98e99), color-stop(100%,#e23b40));
background: -webkit-linear-gradient(top,  #f98e99 0%,#e23b40 100%);
background: -o-linear-gradient(top,  #f98e99 0%,#e23b40 100%);
background: -ms-linear-gradient(top,  #f98e99 0%,#e23b40 100%);
background: linear-gradient(to bottom,  #f98e99 0%,#e23b40 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98e99', endColorstr='#e23b40',GradientType=0 );

}
#logout:active{
	box-shadow:inset 0px 0px 3px black;
}
#time{
	float:left;
	margin:2px 0 0 20px;
	font-size:36px;
	border-radius:6px;
	background-color:white;
	color:#666;
	width:200px;
	text-align:center;
	box-shadow:inset 0 0 6px #999999;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
#time:hover{
	box-shadow:inset 0 0 10px #FF6666;
}
.bersih{
	clear:both;
}
.areaMenu{
	width:16%;
	float:left;
	border-radius:3px;
	background-color:white;
	
	box-shadow:0 2px 3px #666666;
}
.title{

	padding:5px 0px 10px 0px;
	text-align:center;
	font-size:14px;
	border-right:2px solid white;
	border-bottom:1px solid white;
	color:white;
	font-weight:900;
	cursor:pointer;
	
background: #3fa2d7;
background: -moz-linear-gradient(top,  #3fa2d7 0%, #1f72ab 73%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3fa2d7), color-stop(73%,#1f72ab));
background: -webkit-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -o-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: -ms-linear-gradient(top,  #3fa2d7 0%,#1f72ab 73%);
background: linear-gradient(to bottom,  #3fa2d7 0%,#1f72ab 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa2d7', endColorstr='#1f72ab',GradientType=0 );

/*background: #5ab7de;
background: -moz-linear-gradient(top,  #5ab7de 0%, #21759b 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ab7de), color-stop(100%,#21759b));
background: -webkit-linear-gradient(top,  #5ab7de 0%,#21759b 100%);
background: -o-linear-gradient(top,  #5ab7de 0%,#21759b 100%);
background: -ms-linear-gradient(top,  #5ab7de 0%,#21759b 100%);
background: linear-gradient(to bottom,  #5ab7de 0%,#21759b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7de', endColorstr='#21759b',GradientType=0 );*/
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
.title:hover{
	color:#FF5B60;
}
.areaKonten{
	width:83.7%;
	height:80%;
	float:left;
	box-shadow: 0px 0px 3px #CCC;
	border:1px solid #CCCCCC;
	border-radius:0 0 9px 9px;
	background-color:#FFFFFF;
}
.kontentTitle{
	padding:6px 15px 6px 15px;
	text-align:left;
	box-shadow:0px 3px 3px #CCCCCC;
	font-size:16px;
	font-weight:bold;
	position:relative;
	border-radius:0 0 0 0px;
	
background: #f9f9f9;
background: -moz-linear-gradient(top,  #f9f9f9 0%, #ebebeb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ebebeb));
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ebebeb 100%);
background: -o-linear-gradient(top,  #f9f9f9 0%,#ebebeb 100%);
background: -ms-linear-gradient(top,  #f9f9f9 0%,#ebebeb 100%);
background: linear-gradient(to bottom,  #f9f9f9 0%,#ebebeb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ebebeb',GradientType=0 );

}
.kontentTitle tr{
	background-color:white;
}
.kontent{
	overflow:auto;
	width:98.5%;
	height:490px;
	padding:16px 0 0 18px;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
.info-bingkai{
	float:right;
	width:25%;
	height:108%;
	margin-top:-40px;
	box-shadow:-3px 0px 3px #CCCCCC;
	
background: #f9f9f9;
background: -moz-linear-gradient(top,  #f9f9f9 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f2f2f2));
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
background: -o-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
background: -ms-linear-gradient(top,  #f9f9f9 0%,#f2f2f2 100%);
background: linear-gradient(to bottom,  #f9f9f9 0%,#f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 );


}
.TitleNow{
	padding:8px 0px 4px 14px;
	text-align:left;
	box-shadow:0px 2px 2px #CCCCCC;
	border-bottom:1px solid #D6D6D6;
	font-size:16px;
	font-weight:bold;
	width:95%;
	margin-top:24px;
	margin-left:0px;
	position:relative;
	
background: #29c9db;
background: -moz-linear-gradient(top,  #29c9db 0%, #61dced 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29c9db), color-stop(100%,#61dced));
background: -webkit-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -o-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: -ms-linear-gradient(top,  #29c9db 0%,#61dced 100%);
background: linear-gradient(to bottom,  #29c9db 0%,#61dced 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29c9db', endColorstr='#61dced',GradientType=0 );

}
.kontent-now{
	width:100%;
	padding:0px 0px 4px 0px;
}
#jumlah{
	font-size:20px;
	color:#75BAFF;
	text-align:right;
}
#jumlah a{
	color:#75BAFF;
}
#jumlah a:hover, #info a:hover{
	color:#FF4646;
}
#info{
	color:#004797;
	padding-left:10px;
	font-size:14px;
}
#info a{
	color:#004797;
}

.ganjil { 
    background-color: white;
	border-bottom:solid 1px #DDDDDD;
	padding:6px 0 6px 0;
	
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;

}
.genap { 

	background: #F2F2F2;
	border-bottom:solid 1px #DDDDDD;
	padding:6px 0 6px 0;
/*
background: -moz-linear-gradient(top,  #f7f7f7 0%, #ebebeb 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ebebeb));
background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
background: -o-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
background: -ms-linear-gradient(top,  #f7f7f7 0%,#ebebeb 100%);
background: linear-gradient(to bottom,  #f7f7f7 0%,#ebebeb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ebebeb',GradientType=0 );
*/
	
-webkit-transition: all 0.1s ease-out;
-moz-transition: all 0.1s ease-out;
-ms-transition: all 0.1s ease-out;
-o-transition: all 0.1s ease-out;
transition: all 0.1s ease-out;

}
.genap:hover, .ganjil:hover{

background: #dbe7ff;
/*
background: -moz-linear-gradient(top,  #dbe7ff 0%, #bfd4ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbe7ff), color-stop(100%,#bfd4ff));
background: -webkit-linear-gradient(top,  #dbe7ff 0%,#bfd4ff 100%);
background: -o-linear-gradient(top,  #dbe7ff 0%,#bfd4ff 100%);
background: -ms-linear-gradient(top,  #dbe7ff 0%,#bfd4ff 100%);
background: linear-gradient(to bottom,  #dbe7ff 0%,#bfd4ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbe7ff', endColorstr='#bfd4ff',GradientType=0 );
*/
}

.white{

background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );


}

/*
input[type="text"], input[type="password"], input[type="file"]{
	border:1px solid #CCC;
	width:300px;
	border-radius:3px 3px 3px 3px;
	padding:8px 5px 8px 5px;
	background-color:#F7F7F7;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}

input[type="text"]:hover, select:hover, input[type="password"]:hover, textarea:hover, input[type="file"]:hover{
	box-shadow:0 0 4px #95EFFF;
	border:1px solid #3CF;
}
input[type="text"]:focus, input[type="password"]:focus{
	box-shadow:0 0 4px #95EFFF;
	border:1px solid #3CF;
	background-color:white;
}

*/
#input_error{
	color: #b94a48;
  	border-color: #b94a48;
	width:300px;
	border-radius:3px;
	
	-webkit-box-shadow:0 0 4px #FFE6E6;
	   -moz-box-shadow:0 0 4px #FFE6E6;
	   		box-shadow:0 0 4px #FFE6E6;
}

#input_error:focus{
border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

#notif_error{
	color:#b94a48;
}

/*
select{
	border:1px solid #CCC;
	width:100px;
	border-radius:3px 3px 3px 3px;
	padding:3px 5px 3px 5px;
	background-color:#F7F7F7;
	
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}
textarea{
	border:1px solid #CCC;
	border-radius:3px 3px 3px 3px;
	padding:8px 10px 8px 10px;
	background-color:#F9F9F9;
	max-width:300px;
	max-height:100px;
	min-width:250px;
	min-height:80px;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}

input[type="submit"]{
	cursor:pointer;
}
#tombol, input[type="submit"]{
	color: black;
	font-weight:900;
	
	padding:6px 10px;
	border-radius:3px;
	margin-right:2px;
	margin-bottom:10px;
	margin-top:30px;
	border: solid 1px #538312;
	
	
	background: #70fc5a;
	background: -moz-linear-gradient(top,  #70fc5a 0%, #70fc5a 1%, #ceffc6 2%, #70fc5a 3%, #48c948 89%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70fc5a), color-stop(1%,#70fc5a), color-stop(2%,#ceffc6), color-stop(3%,#70fc5a), color-stop(89%,#48c948));
	background: -webkit-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: -o-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: -ms-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: linear-gradient(to bottom,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70fc5a', endColorstr='#48c948',GradientType=0 );
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}
#tombol:hover, input[type="submit"]:hover{
	background: #70fc5a;
background: -moz-linear-gradient(top,  #70fc5a 0%, #70fc5a 1%, #ceffc6 2%, #70fc5a 3%, #49e549 89%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70fc5a), color-stop(1%,#70fc5a), color-stop(2%,#ceffc6), color-stop(3%,#70fc5a), color-stop(89%,#49e549));
background: -webkit-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#49e549 89%);
background: -o-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#49e549 89%);
background: -ms-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#49e549 89%);
background: linear-gradient(to bottom,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#49e549 89%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70fc5a', endColorstr='#49e549',GradientType=0 );

}
#tombol:active, input[type="submit"]:active{
	color: black;
	box-shadow:inset 0 0 3px black;
	position:relative;
	top:1px;
}

*/
a {
	color:#333333;
	text-decoration:none;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
a:hover {
	color:#FF4646;
	text-decoration:none;
}
.new{
	background-image:url(../images/system/add.png);
	background-repeat:no-repeat;
	height:30px;
	width:150px;
}
.h_menu_bingkai{
	width:75%;
	float:left;
	margin-top:10px;
}
.h_menu{
	width:100px;
	height:64px;
	float:left;
	margin-right:10px;
	margin-bottom:40px;
	margin-top:30px;
	
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
.h_menu img{
	opacity:0.5;

-webkit-transition: all 0.19s ease-out;
-moz-transition: all 0.19s ease-out;
-ms-transition: all 0.19s ease-out;
-o-transition: all 0.19s ease-out;
transition: all 0.19s ease-out;
}
.h_menu img:hover{
	opacity:1;
	position:relative;
	top:-8px;
}


#judul{

	background: #70fc5a;
	background: -moz-linear-gradient(top,  #70fc5a 0%, #70fc5a 1%, #ceffc6 2%, #70fc5a 3%, #48c948 89%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70fc5a), color-stop(1%,#70fc5a), color-stop(2%,#ceffc6), color-stop(3%,#70fc5a), color-stop(89%,#48c948));
	background: -webkit-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: -o-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: -ms-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	background: linear-gradient(to bottom,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70fc5a', endColorstr='#48c948',GradientType=0 );

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
#mailto{
	text-align:center;
	background-color:white;
}
#mailto a{
	color:#999;
	font-size:11px;
}
#mailto a:hover{
	color:#FF4646;
}

#tab{
	padding:0px 20px 4px 120px;
	border-bottom:2px solid #CCC;
	color:black;
	font-weight:normal;
	height:32px;
	margin-top:-10px;
	font-size:14px;
}
#tab-item{
	background-color:#F5F5F5;
	padding:8px 14px 8px 10px;
	float:left;
	border:1px solid #CCC;
	border-bottom:none;
	

-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;

}
#tab-item:hover{
	background-color:#CCC;
	color:#009;
}
#tab-item-aktif{
	background-color:#CCC;
	padding:8px 14px 9px 10px;
	float:left;
	border:1px solid #666;
	border-bottom:none;
	color:#00C;
}
#author{
	position:absolute;
	bottom:4px;
	right:10px;
}