.reserv-title {
  color: red !important;
  font-weight: bold;
  font-size: 15px;
}
.reserv-phone {
  color: navy !important;
  font-weight: bold;
  font-size: 14px;
}
.reserv-judul {
  background-color: #00B7F1;
  padding: 6px 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
  width: 98%;
}
.reserv-circle {
	border-radius: 50%;
	width: 30px;
	height: 30px; 
  background-color: #00B7F1;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
	/* width and height can be anything, as long as they're equal */
}
.reserv-step {
  color: #00B7F1;
  margin-bottom: 2px;
  padding-left: 8px;
}
.reserv-step-label {
  color: red !important;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}
.reserv-red {
  margin-top: 6px;
  color: red;
}
.reserv-table {
  border-collapse: collapse;
  width: 98%;
}
.reserv-table, .reserv-table td, .reserv-table th {
    border: 1px solid black !important;
    padding: 4px 8px;
}
.reserv-table-mobile {
  border-collapse: collapse;
  width: 98%;
}
.reserv-table-mobile, .reserv-table-mobile td, .reserv-table-mobile th {
  border: 1px solid #ADE6F9 !important;
  padding: 4px 8px;
}
.reserv-agree {
  background-color: #ade6f9;
  border: 1px solid black;
  padding: 4px 8px;
  width: 98%;
  margin-top: -15px;
}
.reserv-agree ul, .reserv-agree li {
  padding: 0;
  
  font-size:11px;
  list-style: none;
}
.separate {
  background-color: #00B7F3;
  height: 3px;
  margin:0;
  margin-bottom: 10px;
}
.separate-2 {
  border-top: 1px solid #00B7F3;
  height: 2px;
  margin:0;
  margin-bottom: 10px;
}
.separate-3 {
  border-top: 2px solid #00B7F3;
  height: 2px;
  margin:0;
  margin-bottom: 10px;
}
.table-blue {
  border: #00B7F3;
}
.judul-table {
  font-size: 14px;
  font-weight: bold;
}
.desc-table {
  font-size: 11px;
}
.price-tipe {
  width: 50px;
  padding:0;
  margin-left: 10px;
  background-color: #ADE6F9;
  border: 1px solid black;
  border-radius: 4px;
}
