/*** ESSENTIAL STYLES ***/
#aktif{
	color:black;
	text-decoration:underline;
}
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 4em; /* allow long menu items to determine submenu width */
	*width: 4em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding:16px 14px;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: black;
	font-size:22px;
	text-align:left;
}
.sf-menu li {
	color:white;

background: #70fc5a;
background: -moz-linear-gradient(top,  #70fc5a 0%, #70fc5a 1%, #ceffc6 2%, #70fc5a 3%, #48c948 89%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70fc5a), color-stop(1%,#70fc5a), color-stop(2%,#ceffc6), color-stop(3%,#70fc5a), color-stop(89%,#48c948));
background: -webkit-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
background: -o-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
background: -ms-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
background: linear-gradient(to bottom,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70fc5a', endColorstr='#48c948',GradientType=0 );

	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
background: #70fc5a;
background: -moz-linear-gradient(top,  #70fc5a 0%, #70fc5a 1%, #ceffc6 2%, #70fc5a 3%, #48c948 89%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70fc5a), color-stop(1%,#70fc5a), color-stop(2%,#ceffc6), color-stop(3%,#70fc5a), color-stop(89%,#48c948));
background: -webkit-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
background: -o-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
background: -ms-linear-gradient(top,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
background: linear-gradient(to bottom,  #70fc5a 0%,#70fc5a 1%,#ceffc6 2%,#70fc5a 3%,#48c948 89%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70fc5a', endColorstr='#48c948',GradientType=0 );
}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	
background: #6df858;
background: -moz-linear-gradient(top,  #6df858 0%, #6df858 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6df858), color-stop(100%,#6df858));
background: -webkit-linear-gradient(top,  #6df858 0%,#6df858 100%);
background: -o-linear-gradient(top,  #6df858 0%,#6df858 100%);
background: -ms-linear-gradient(top,  #6df858 0%,#6df858 100%);
background: linear-gradient(to bottom,  #6df858 0%,#6df858 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6df858', endColorstr='#6df858',GradientType=0 );
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 34px;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
